/* mediaqueries.scss */

/* Dispositivos móviles (pantallas pequeñas) */
@media (max-width: 576px) {
  header h1 {
    font-size: 1.8rem;
  }

  .instagram-icon {
    margin-bottom: 5px;
  }


  main {
    flex-direction: column;
  }

  article.fondo-seccion,
  aside {
    margin: 0;
    width: 100%;
  }

  aside {
    margin-top: 20px;
    margin-left: 0;
  }

  .content-sections {
    margin: 10px;
  }

  section.content-sections {
    padding: 15px;
  }

}

/* Dispositivos tablet y pantallas medianas */
@media (min-width: 577px) and (max-width: 992px) {
  header h1 {
    font-size: 2.2rem;
  }


  main {
    flex-direction: column;
  }

  article.fondo-seccion,
  aside {
    margin: 0;
    width: 100%;
  }

  aside {
    margin-top: 20px;
    margin-left: 0;
  }

  .content-sections {
    margin: 15px;
  }

  section.content-sections {
    padding: 18px;
  }

}

/* Dispositivos grandes (pantallas grandes) */
@media (min-width: 1200px) {
  main {
    flex-direction: row;
  }

  article.fondo-seccion {
    flex: 3;
    margin-right: 20px;
  }

  aside {
    flex: 1;
    margin-left: 0;
  }

  .content-sections {
    margin: 20px;
  }

  section.content-sections {
    padding: 20px;
  }


}

// Consultas de medios para el carrusel
@media (max-width: 576px) {
  .carousel-container {
    .carousel-inner {
      .carousel-item img {
        max-height: 300px; // Ajusta la altura máxima en pantallas pequeñas
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .carousel-container {
    .carousel-inner {
      .carousel-item img {
        max-height: 400px; // Ajusta la altura máxima en pantallas medianas
      }
    }
  }
}
@media (max-width: 1200px) {
  .cremas-lista {
    ol {
      flex-direction: row;
      justify-content: center; // Centrar elementos en la fila
      flex-wrap: wrap; // Permitir que los elementos se envuelvan en múltiples filas
    }

    li {
      width: calc(50% - 15px); // Ancho para pantallas medianas
    }
  }
}

@media (max-width: 768px) {
  .cremas-lista {
    ol {
      flex-direction: column; // Tarjetas una debajo de la otra
      align-items: center; // Centrar elementos en la columna
      gap: 20px; // Espacio entre tarjetas
    }

    li {
      width: 100%; // Ancho completo para pantallas pequeñas
      max-width: 600px; // Limitar el ancho máximo para mejorar la presentación
      padding: 15px; // Ajustar el espacio interno
    }

    img {
      max-width: 100%; // Asegurar que las imágenes no se salgan del contenedor
      height: auto; // Mantener la proporción de las imágenes
    }
  }
}

@media (max-width: 480px) {
  .cremas-lista {
    ol {
      flex-direction: column; // Tarjetas una debajo de la otra
      align-items: center; // Alinear tarjetas al centro
      gap: 20px; // Espacio entre tarjetas
      max-width: 500px; // Limitar el ancho máximo para mejorar la presentación
    }

    li {
      width: 100%; // Ancho completo para pantallas muy pequeñas
      max-width: 500px; // Limitar el ancho máximo para mejorar la presentación
      padding: 15px; // Ajustar el espacio interno
    }

    img {
      max-width: 100%; // Asegurar que las imágenes no se salgan del contenedor
      height: auto; // Mantener la proporción de las imágenes
    }
  }
}
