/* mediaqueries.scss */

/* Dispositivos móviles (pantallas pequeñas) */
@media (max-width: 576px) {
  header h1 {
    font-size: 1.8rem;
  }

  .instagram-icon {
    margin-bottom: 5px;
  }


  main {
    flex-direction: column;
  }

  article.fondo-seccion,
  aside {
    margin: 0;
    width: 100%;
  }

  aside {
    margin-top: 20px;
    margin-left: 0;
  }

  .content-sections {
    margin: 10px;
  }

  section.content-sections {
    padding: 15px;
  }

}

/* Dispositivos tablet y pantallas medianas */
@media (min-width: 577px) and (max-width: 992px) {
  header h1 {
    font-size: 2.2rem;
  }


  main {
    flex-direction: column;
  }

  article.fondo-seccion,
  aside {
    margin: 0;
    width: 100%;
  }

  aside {
    margin-top: 20px;
    margin-left: 0;
  }

  .content-sections {
    margin: 15px;
  }

  section.content-sections {
    padding: 18px;
  }

}

/* Dispositivos grandes (pantallas grandes) */
@media (min-width: 1200px) {
  main {
    flex-direction: row;
  }

  article.fondo-seccion {
    flex: 3;
    margin-right: 20px;
  }

  aside {
    flex: 1;
    margin-left: 0;
  }

  .content-sections {
    margin: 20px;
  }

  section.content-sections {
    padding: 20px;
  }


}

// Consultas de medios para el carrusel
@media (max-width: 576px) {
  .carousel-container {
    .carousel-inner {
      .carousel-item img {
        max-height: 300px; // Ajusta la altura máxima en pantallas pequeñas
      }
    }
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .carousel-container {
    .carousel-inner {
      .carousel-item img {
        max-height: 400px; // Ajusta la altura máxima en pantallas medianas
      }
    }
  }
}

/* Estilos para pantallas pequeñas */


@media (max-width: 768px) {
  .cremas-lista {
    padding: 0 1rem; // Añade un padding lateral para que el contenido no toque los bordes

    ol {
      display: flex; // Usa flexbox para la disposición de los elementos
      flex-wrap: wrap; // Permite que los elementos se envuelvan en filas
      justify-content: center; // Centra los elementos horizontalmente
      gap: 20px; // Espacio entre los elementos
      padding: 0; // Quita el padding predeterminado de la lista
      margin: 0; // Quita el margen predeterminado de la lista

      li {
        display: flex; // Cambia la disposición de los elementos de la lista a flexbox
        flex-direction: column; // Alinea los elementos en una columna
        align-items: center; // Centra los elementos horizontalmente
        text-align: center; // Centra el texto dentro de los elementos de la lista
        border: 1px solid #ddd; // Añade un borde sutil alrededor de los elementos de la lista
        border-radius: 8px; // Redondea las esquinas del borde
        padding: 1rem; // Añade padding interno
        background-color: #fff; // Fondo blanco para los elementos de la lista
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); // Sombra sutil para darle profundidad
        width: calc(50% - 20px); // Ajusta el ancho para que haya dos elementos por fila, considerando el espacio entre ellos
        max-width: 300px; // Establece un ancho máximo para los elementos

        img {
          max-width: 100%; // Asegura que la imagen no exceda el ancho del contenedor
          height: auto; // Mantiene la proporción de la imagen
          border-radius: 8px; // Redondea las esquinas de la imagen
          margin-bottom: 0.5rem; // Añade margen inferior para separar la imagen del texto
        }

        p {
          font-size: 0.9rem; // Ajusta el tamaño de la fuente del texto para pantallas pequeñas
          line-height: 1.4; // Mejora la legibilidad con un mayor interlineado
          margin: 0; // Quita el margen predeterminado del párrafo
        }
      }
    }
  }

  .productos-intro {
    text-align: center; // Centra el texto en pantallas pequeñas
    font-size: 1.5rem; // Ajusta el tamaño del texto para mejor legibilidad
    margin: 1rem 0; // Añade un margen superior e inferior
  }
}
