@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

header {
  animation: fadeInSlideUp 1s ease-out;

  .header-content {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #97e6f0;

    h1 {
      background-color: #97e6f0;
      font-size: 2.5rem;
      font-weight: bold;
      color: #004d40;
      margin: 0;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      line-height: 1.2;

      .instagram-icon {
        margin-left: 0.75rem;
        font-size: 1.5rem;
        color: #004d40;
        transition: color 0.3s ease;

        &:hover {
          background-color: #00796b;
          color: #00796b;
        }
      }
    }
  }

  .navbar {
    &.navbar-custom {
      background-color: #004d40;
      display: flex; /* Flex para centrar los elementos */
      justify-content: center; /* Centra los elementos horizontalmente */
      align-items: center; /* Centra los elementos verticalmente */

      .navbar-toggler {
        border-color: transparent;
        margin: 1rem auto; /* Añade margen superior e inferior */
        padding: 0.5rem 1rem; /* Aumenta el tamaño del área de clic */
        outline: none; /* Elimina el borde cuando se hace clic */
        
        .navbar-toggler-icon {
          width: 2rem; /* Aumenta el tamaño del ícono */
          height: 2rem;
          background-color: #ffffff; /* Color de fondo del ícono para mayor visibilidad */
          border-radius: 0.25rem; /* Bordes ligeramente redondeados */
        }

        &:hover,
        &:focus {
          background-color: rgba(255, 255, 255, 0.2); /* Color de fondo en hover */
        }
      }

      .navbar-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 0;

        .nav-item {
          list-style: none;

          .nav-link {
            display: block;
            padding: 0.75rem 1.25rem;
            margin: 0.25rem;
            color: #050909;
            font-size: 1.125rem;
            font-weight: 500;
            border-radius: 0.5rem;
            text-decoration: none;
            transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
            text-align: center;

            &:hover {
              color: #004d40;
              background-color: #97e6f0;
              transform: scale(1.1);
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }

}
